---
import type { Props } from '../props';
import { Image } from "astro:assets";
import lock_screen_control_center from "../assets/lock_screen_control_center.png";
---

<div class="demo-container">
  <div class="text-side">
    <slot />
  </div>
  <div class="image-side">
    <div class="image-container">
      <div class="image-content">
        <Image
          src={lock_screen_control_center}
          alt="Lock screen control center"
          class="image-content"
        />
      </div>
    </div>
  </div>
</div>

<style>
  .demo-container {
    display: grid;
    align-items: center;
    gap: 2rem;
    grid-template-columns: 1fr;
    padding: 1rem 1rem 2rem;
  }

  .image-side {
    object-fit: contain;
    width: min(70%, 20rem);
    height: auto;
    margin-inline: auto;
    order: -1;
  }

  .image-content {
    margin: 0 auto;
    max-width: 350px;
  }

  .text-side {
    min-width: 280px;
  }

  @media (min-width: 50rem) {
    .demo-container {
      grid-template-columns: 4fr 4fr;
      padding: 1rem 1rem 6rem;
    }

    .image-side {
      order: 0;
      width: 100%;
      min-width: 280px;
      margin-inline: 0;
    }
  }
</style>