---
import type { Props } from '../props';
import { Image } from "astro:assets";
import lock_screen_control_center from "../assets/lock_screen_control_center.png";
---

<div class="demo-container">
  <div class="text-side">
    <slot />
  </div>
  <div class="image-side">
    <div class="image-container">
      <div class="image-content">
        <Image
          src={lock_screen_control_center}
          alt="Lock screen control center"
          class="image-content"
        />
      </div>
    </div>
  </div>
</div>