---
import type { Props } from '../props';
import { Image } from "astro:assets";
import apple_watch_bezel from "../assets/apple_watch_bezel.png";

const { screenshot, alt } = Astro.props;
---

<div class="sl-flex demo-container">
  <div class="sl-flex watch-side">
    <div class="sl-flex watch-container">
      <div class="sl-flex watch-content">
        <div class="screen-mask">
          <Image
            src={screenshot}
            alt={alt}
            class="watch-screen"
          />
        </div>
        <Image
          src={apple_watch_bezel}
          alt={alt}
          class="watch-bezel"
        />
      </div>
    </div>
  </div>
</div>